.board-choices {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  width: 105%;
  overflow: hidden;
  background-color: transparent;
  transition: all 0.3s ease;
  bottom: 3px;
  left: 0;
}

.board-choices.main-book {
  left: 24px;
  justify-content: space-around;
  bottom: -9px;
  display: flex;
  align-items: center;
  margin-right: 3px;
  width: 151px;
  background-color: transparent;
}

.the-select {
  height: 23px;
}

/* .the-select.main-book {
  background-color: blue;
} */

.cancel-choices {
  background-color: rgb(189, 94, 94);
  cursor: pointer;
}

.cancel-choices:hover {
  background-color: rgb(255, 46, 46);
}
