.first-and-last {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}

.signup-label {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.signup-label.last {
  margin-left: 20px;
}
