.login-background {
  background-color: #293541;
  height: 100vh;
}

.site-title {
  margin: 0 auto;
  width: 100%;
  font-size: 5vw;
  text-align: center;
  position: relative;
  z-index: 2;
  top: 25px;
  background: radial-gradient(circle, #f12711, #f8b500);
  background: radial-gradient(circle, #ff0000, #ffdd00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  animation: fadeIn 2.5s ease-in-out;
  overflow: visible;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 600px) {
  .site-title {
    font-size: 20px;
  }
}

.website-description {
  width: 60%;
  margin: 0 auto;
  font-size: 1.5vw;
  text-align: center;
  position: relative;
  color: white;
}

.this-that {
  position: relative;
  background: radial-gradient(circle, #f12711, #f8b500);
  /* background: radial-gradient(circle, #ff0000, #ffdd00); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.this-that i {
  background: radial-gradient(circle, #f1271138, #f8b5005e);
  /* z-index: -1; */
  left: 43%;
  top: -33px;
  position: absolute;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 120px;
  transform: rotate(90deg);
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 2rem;
  width: 50%;
  /* border: 1px solid transparent;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 15px 5px rgba(169, 169, 169, 0.6),
    0 0 20px 10px rgba(169, 169, 169, 0.4),
    0 0 30px 15px rgba(169, 169, 169, 0.2); */
}

.signup-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  color: black;
}

fieldset {
  position: relative;
  background-color: #b4bcd4;
  border: 1px solid black;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: inset 0 0 10px #000000, 0 0 141px 14px #939eb5;
}

legend {
  padding: 0.5em 1em;
  border-radius: 5px;
  background-color: #00c870;
  border: 1px solid black;
  line-height: normal;
  text-align: center;
  color: white;
  background: linear-gradient(to bottom, #000000, #306d98);
  /* box-shadow: inset 0 0 20px 5px #005dff; */
  margin: -10px;
}

.form-input {
  margin-top: 5px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 1rem;
  box-shadow: inset 0 0 10px #000000;
  background-color: #a4abc2;
}

.form-input:hover {
  box-shadow: inset 0 0 15px #000000;
  background-color: #b4bcd4;
}

.login-btn {
  display: block;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #2a3541;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  width: 6rem;

  &:hover {
    color: white;
    background: linear-gradient(
      to bottom,
      #f12711,
      #f8b500
    ); /* Reverse gradient background */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    transform: translateY(-2px);
  }

  &:active {
    transform: translateY(2px);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  }
}

.note-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 0;
  padding: 15px;
  height: 25px;
}

.signup-note {
  font-size: 0.7rem;
  margin-top: 0.5rem;
  text-align: center;
  color: black;
}

.signup-btn {
  border: none;
  text-decoration: underline;
  /* border-bottom: 1px solid black; */
  background: none;
  font-size: 0.9rem;
  width: 65px;
  width: fit-content;

  &:hover {
    color: #006539;
    cursor: pointer;
  }
}

/* section {
  display: flex;
  animation: animateColor 8s linear infinite;
}

.logo-container {
  position: relative;
}

@keyframes animateColor {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.container {
  display: flex;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

.container .circle {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 0 -7.5px;
}

.container .circle span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(calc(18deg * var(--i)));
}

section .container .circle span::before {
  content: '';
  position: absolute;
  right: 0;
  top: calc(50% - 7.5px);
  width: 15px;
  height: 15px;
  background: #00ff0a;
  background: #008000;
  border-radius: 50%;
  box-shadow: 0 0 10px #00ff0a, 0 0 20px #00ff0a;
  box-shadow: 0 0 10px #008000, 0 0 20px #008000;
  transform: scale(0.1);
  animation: animate 4s linear infinite;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes animate {
  0% {
    transform: scale(1);
  }
  50%,
  100% {
    transform: scale(0.1);
  }
}

.container .circle:nth-child(2) {
  transform: rotate(-180deg);
}
.container .circle:nth-child(2) span::before {
  animation-delay: calc(-0.1s * var(--i));
} */
